<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner">
    <i class="fas fa-spinner fa-spin"></i> Chargement...
  </div>
</div>

<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="1- Réservation">
    <div class="search-filter">
      <form (ngSubmit)="onSubmit()" #flightForm="ngForm">
        <div class="form-row">
          <div class="form-group">
            <label for="departure">Depuis</label>
            <mat-form-field>
              <input type="text" placeholder="Search" matInput [formControl]="departureControl" [matAutocomplete]="auto" name="departure" required>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onDepartureSelected($event)">
                <mat-option *ngFor="let city of filteredOptions | async" [value]="city.name">
                  {{ city.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="departureError" class="error-message">{{ departureError }}</div>
          </div>

          <div class="form-group">
            <label for="destination">Vers</label>
            <mat-form-field>
              <input type="text" placeholder="Search" matInput [formControl]="destinationControl" [matAutocomplete]="autoDest" name="destination" required>
              <mat-autocomplete #autoDest="matAutocomplete" (optionSelected)="onDestinationSelected($event)">
                <mat-option *ngFor="let city of filteredDestinationOptions | async" [value]="city.name">
                  {{ city.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="destinationError" class="error-message">{{ destinationError }}</div>
          </div>      

          <div class="form-group trip-type">
            <label>
              <input type="radio" [(ngModel)]="tripType" name="tripType" value="one-way" (change)="onTripTypeChange()" required>
              Aller simple
            </label>
            <label>
              <input type="radio" [(ngModel)]="tripType" name="tripType" value="round-trip" (change)="onTripTypeChange()" required>
              Aller-Retour
            </label>
          </div>
        </div>

        <div *ngIf="showAdditionalFields">
          <div class="form-row">
            <div class="form-group">
              <label for="departureDate">Date de départ *</label>
              <input type="date" id="departureDate" class="form-control" [(ngModel)]="departureDate" name="departureDate" [min]="today" required>
            </div>

            <div class="form-group" *ngIf="tripType === 'round-trip'">
              <label for="returnDate">Date de retour *</label>
              <input type="date" id="returnDate" class="form-control" [(ngModel)]="returnDate" name="returnDate" [min]="departureDate" required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="adults">Nombre d'adultes *</label>
              <input type="number" id="adults" class="form-control" [(ngModel)]="adults" (change)="onAdultsChange($event)" name="adults" min="1" required>
            </div>

            <div class="form-group">
              <label for="children">Nombre d'enfants</label>
              <input type="number" id="children" class="form-control" [(ngModel)]="children" name="children" min="0">
            </div>

            <div class="form-group">
              <label for="infants">Nombre de bébés (< 2 ans)</label>
              <input type="number" id="infants" class="form-control" [(ngModel)]="infants" name="infants" min="0">
            </div>
          </div>
        </div>

        <div class="form-row">
          <button *ngIf="showAdditionalFields" type="button" class="btn btn-secondary reduce-btn" (click)="toggleFields()">
            <i class="fas fa-chevron-up"></i> Réduire
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!flightForm.valid">Rechercher vols</button>
        </div>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="2- Choisir le vol" [disabled]="!isTab2Enabled">
    <app-recuperation-vols
      *ngIf="(tripType === 'one-way' && flights.length > 0) || (tripType === 'round-trip' && flights.length > 0 && returnFlights.length > 0)"
      [flights]="flights"
      [returnFlights]="returnFlights"
      [departure]="departure"
      [destination]="destination"
      [departureDate]="departureDate"
      [returnDate]="returnDate"
      [tripType]="tripType"
      [adults]="adults"
      [children]="children"
      [infants]="infants"
      (selectedFlightChange)="onSelectedFlightChange($event)"
      (flightSelected)="enableTab3()">
    </app-recuperation-vols>
    <p *ngIf="flights.length === 0 || (tripType === 'round-trip' && returnFlights.length === 0)">
      Il n'y a pas de vols entre ces deux villes.
    </p>
  </mat-tab>

  <mat-tab label="3- Information voyageur" [disabled]="!isTab3Enabled">
    <div class="traveler-navigation">
      <div class="nav-menu">
        <div *ngFor="let traveler of travelers; let i = index" [class.active]="selectedTravelerIndex === i">
          <button (click)="selectTraveler(i)">
            {{ traveler.type }} {{ i + 1 }}
          </button>
        </div>
      </div>
      <div class="traveler-form">
        <ng-container *ngFor="let traveler of travelers; let i = index">
          <div *ngIf="selectedTravelerIndex === i">
            <h2>Informations {{ traveler.type }} {{ i + 1 }}</h2>
            <app-voyageur
              *ngIf="traveler.type !== 'Bébé'"
              [departure]="departure"
              [destination]="destination"
              [dateDeparture]="departureDate"
              [dateRetour]="returnDate"
              [tripType]="tripType"
              (formValid)="enableTab4()">
            </app-voyageur>
            <div *ngIf="traveler.type === 'Bébé'">
              <form (ngSubmit)="onSubmitBebe()" [formGroup]="bebeForm">
                <div class="form-row">
                  <div class="form-group">
                    <label for="voyagerAvec">Voyager avec *</label>
                    <select id="voyagerAvec" class="form-control" formControlName="voyagerAvec" required>
                      <option *ngFor="let option of adultsOptions" [value]="option">{{ option }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="prenomBebe">Prénom *</label>
                    <input type="text" id="prenomBebe" class="form-control" formControlName="prenomBebe" required>
                  </div>
                  <div class="form-group">
                    <label for="nomBebe">Nom *</label>
                    <input type="text" id="nomBebe" class="form-control" formControlName="nomBebe" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label for="nationaliteBebe">Nationalité *</label>
                    <input type="text" id="nationaliteBebe" class="form-control" formControlName="nationaliteBebe" (input)="filterNationalitiesBebe($event)" required>
                    <div class="autocomplete-items" *ngIf="filteredNationalitiesBebe.length > 0">
                      <div *ngFor="let nationality of filteredNationalitiesBebe" (click)="selectNationalityBebe(nationality)">
                        {{ nationality }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dateNaissanceBebe">Date de naissance *</label>
                    <input type="date" id="dateNaissanceBebe" class="form-control" formControlName="dateNaissanceBebe" [max]="maxBirthDate" required>
                  </div>
                </div>
                <div class="form-row">
                  <button type="submit" class="btn btn-primary" [disabled]="!bebeForm.valid">Enregistrer</button>
                </div>
              </form>
              
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  
  <mat-tab label="4- Paiement" [disabled]="!isTab4Enabled">
    <app-paiement></app-paiement>
  </mat-tab>
</mat-tab-group>
