/* recuperation-vols.component.css */

.flight-selection {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
}

.dates-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.date-option {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 0 5px;
  background-color: #46696b94;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: normal;
  font-size: medium;
  flex: 0 0 auto;
}

.date-option.selected {
  background-color: #41aebecc;
}

.flight-details {
  margin-top: 10px;
  padding: 5px;
  background-color: #41aebecc;
  border-radius: 5px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  white-space: normal;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.flight-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.flight-duration {
  color: #ffffff;
}

.select-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.select-button:hover {
  background-color: #0056b3;
}

.no-flights {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #41aebecc;
  border-radius: 5px;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .dates-navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .date-option {
    margin: 5px;
    width: auto;
  }

  .flight-details,
  .no-flights {
    width: auto;
  }

  .select-button {
    width: 100%;
    padding: 10px;
    font-size: medium;
  }

  .selectable-flight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #3e6870;
    cursor: pointer;
    border: 1px solid #ccc;
    width: calc(100% - 10px); /* Ajustement pour s'assurer que les éléments prennent toute la largeur en mode mobile */
    box-sizing: border-box; /* S'assure que le padding est inclus dans la largeur */
  }

  .selectable-flight.selected {
    background-color: #7eadbce3;
  }

  .nav-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
}
