.flight-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dates-navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  overflow-x: auto; /* Permettre le défilement horizontal */
  white-space: nowrap;
  width: 100%;
}

.flight-options-container {
  display: flex;
  gap: 10px; /* Optionnel : espace entre les options */
  justify-content: center; /* Centre les options horizontalement */
}

.date-option {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 0 5px;
  background-color: #46696b94;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: normal;
  font-size: medium;
  flex: 0 0 auto;
}

.date-option.selected {
  background-color: #41aebecc;
}

.flight-details {
  margin-top: 20px;
  padding: 10px;
  background-color: #41aebecc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  width: 25%; /* Ajouté pour que les deux divs aient la même largeur */
  box-sizing: border-box;
}

.flight-details h3 {
  margin-bottom: 10px;
  color: #333;
}

.flight-details p {
  margin: 5px 0;
  color: #555;
}

.flight-timing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.flight-timing .time {
  margin: 0 10px;
}

.flight-timing .icon {
  color: white;
  font-size: 24px;
}

@media (max-width: 600px) {
  .dates-navigation {
    flex-direction: row; /* Changer pour aligner horizontalement */
    flex-wrap: nowrap; /* Empêcher le passage à la ligne */
    overflow-x: auto; /* Activer le défilement horizontal */
  }

  .date-option {
    margin: 5px;
    width: auto; /* Laisser la taille s'ajuster automatiquement */
  }

  .flight-details,
  .no-flights {
    width: auto;
  }

  .select-button {
    width: 100%;
    padding: 10px;
    font-size: medium;
  }
}

.selectable-flight {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #3e6870;
}

.selectable-flight.selected {
  background-color: #7eadbce3;
}
