/* Section Header */
.header-container {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  z-index: 1;
}

header {
  z-index: 2;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px; /* Espace ajouté entre le header et la section suivante */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 60px;
  margin: 0 15px;
}

.nav {
  display: none;
}

.nav.active {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.nav-link {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info .icon-container {
  background-color: rgb(249, 192, 43);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.contact-info .phone-icon {
  font-size: 20px;
  color: white;
}

.contact-info span,
.contact-info a {
  display: block;
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 3;
  background: none;
  border: none;
}

.menu-icon .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 10px;
}

/* CTA Button */
.cta-button {
  background-color: rgb(249, 192, 43); /* Couleur de fond */
  color: white; /* Couleur du texte */
  font-family: 'Arial', sans-serif; /* Police */
  padding: 10px 20px; /* Padding */
  border-radius: 10px; /* Forme ovale */
  text-align: center; /* Centrer le texte */
  font-weight: bold; /* Texte en gras */
  margin: 10px auto; /* Espacement au-dessus et en dessous, et centré horizontalement */
  display: inline-block; /* Inline-block pour centrer */
  width: auto; /* Ajustement de la largeur */
}

/* Centrer le conteneur parent */
.header-container {
  text-align: center; /* Centrer le contenu à l'intérieur du conteneur */
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero-section .container {
  background: rgba(81, 119, 124, 0.60);
  padding: 10px;
  border-radius: 8px;
}

/* General Container Margin */
.container {
  margin: 2% 2%;
}

@media (max-width: 1199.98px) {
  /* Cache la partie téléphone en mode responsive */
  .contact-info {
    display: none !important;
  }

  /* Affiche le bouton du menu en mode responsive */
  .menu-icon {
    display: flex;
    order: 2;
    margin-left: auto; /* Alignement à droite du bouton menu */
  }

  /* Cache le menu par défaut */
  .nav {
    display: none;
    width: 100%;
    text-align: left;
  }

  /* Affiche le menu lorsque le bouton est cliqué */
  .nav.active {
    display: block;
  }

  /* Ajoute du padding aux liens du menu */
  .nav-link {
    padding: 10px;
  }

  /* Ajuste le logo en mode responsive */
  .logo {
    margin-bottom: 10px;
    order: 1; /* Pour s'assurer que le logo est à gauche */
    margin-left: 0; /* Assurez-vous qu'il n'y a pas de marge à gauche */
  }

  /* Assure la distribution correcte du logo et du menu */
  .header-content {
    flex-direction: row;
    justify-content: space-between; /* Assurer la bonne distribution du logo et du menu */
    width: 100%; /* Assurer que la largeur est correctement définie */
  }

  /* Ajuste l'ordre des éléments du menu */
  .nav {
    order: 3;
  }
}

@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    position: static;
    background-color: transparent;
  }

  .logo {
    margin-bottom: 0;
  }

  .contact-info {
    display: flex; /* Assurer que la partie téléphone s'affiche en mode normal */
  }
}