<div class="container">
  <header class="text-white text-center py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left">
          <span>Pour plus d'informations :</span>
          <a href="tel:+33456702889" class="text-white">
            +33 (0) 456 702 889
          </a>
        </div>
        <div class="col-md-6 text-md-right">
          <nav class="nav">
            <a class="nav-link text-white" href="#">Accueil</a>
            <a class="nav-link text-white" href="#">IzySafar</a>
            <a class="nav-link text-white" href="#">Réservation</a>
            <a class="nav-link text-white" href="#">Pèlerinage</a>
            <a class="nav-link text-white" href="#">Contact</a>
          </nav>
        </div>
      </div>
    </div>
    <section class="hero-section d-flex align-items-center" style="background-image: url('assets/hero.jpg'); background-size: cover; height: 100vh;">
      <div class="container text-center text-white">
        <!-- Insertion du composant de recherche de vols -->
        <app-filtre-recherche-vols></app-filtre-recherche-vols>
      </div>
    </section>
  </header>

  
</div>
